VITE_ZEPTO_TOKEN=Zoho-enczapikey****
VITE_ZEPTO_URL=https://api.zeptomail.in/v1.1/email
VITE_ZEPTO_FROM_EMAIL=noreply@yourdomain.com
VITE_ZEPTO_FROM_NAME=Your Project
VITE_ZEPTO_CONTACT_TO=support@eduwego.in
